html, body {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

h1, p {
  font-family: Lato;
}

button {
  margin-right: 15px;
}

.app-container {
  margin-top: 15px;
}

.counter-box {
  margin-bottom: 15px;
}